<h2>Create a new drone</h2>

<div>

  <form action="/drones/create" id="drone" method="POST">
    <label for="name">Drone Name</label>
    <input type="text" id="name" name="name" />
    <label for="propellers">Propellers</label>
    <input type="number" id="propellers" name="propellers" />
    <label for="max-speed">Max Speed</label>
    <input type="number" id="max-speed" name="maxSpeed" />
    <button type="submit" value="Submit">Submit New Drone</button>

  </form>

</div>